.exp-section {
  display: flex;
}

.exp-panel {
  width: 50%;
  height: 100vh;
  display: inline-block;
  background-color: turquoise;
}
.exp-side-panel {
  width: 50%;
  background-color: grey;
  display: inline-block;
}

.exp-title {
  text-align: left;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
  hyphens: auto;
  font-size: 2.5rem;
  left: 30%;
  top: 40%;
  position: relative;
  color: rgba(255, 255, 255, 1);
}

.exp-eg-title {
  text-align: left;
  overflow-wrap: break-word;
  word-break: break-all;
  word-wrap: break-word;
  hyphens: auto;
  left: 0;
  top: 5%;
  font-size: 2.5rem;
}
.exp-eg-text {
  left: 5%;
  top: 20%;
  text-align: left;
  overflow-wrap: break-word;
  display: list-item;
  hyphens: auto;
  font-size: 2rem;
}
