.skills-section {
  display: flex;
}

.skills-panel {
  width: 50%;
  height: 100vh;
  /* top: 0;
  left: 0; */
  display: inline-block;
  background-color: black;
  /* position: absolute; */
  /* position: absolute; */
}
.skills-side-panel {
  /* top: 0;
  left: 50%; */
  width: 50%;
  /* height: 100%; */
  background-color: blue;
  display: inline-block;
  /* overflow: hidden; */
}

.skills-title {
  /* top: 30%;
  left: 10%; */
  text-align: left;
  overflow-wrap: break-word;
  hyphens: auto;
  font-size: 2.5rem;
  /* position: absolute; */
  left: 30%;
  top: 40%;
  /* position: static; */
  position: relative;

  color: rgba(255, 255, 255, 1);
}

.icons-row {
  width: 50%;
  height: 60%;
  margin-left: 4%;
  margin-top: 10%;
  display: flex;
  flex-wrap: wrap;
}
.icon-tech {
  width: 50%;
}
